<!-- <p><i class="fa fa-twitter fa-lg fa-fw"></i> <a href="https://twitter.com/ellekasai/" target="_blank">@ellekasai</a></p> -->
<p><i class="fa fa-github fa-lg fa-fw"></i> <a href="https://github.com/jonssmall/" target="_blank">@jonssmall</a></p>
<p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://www.linkedin.com/in/jonssmall" target="_blank">linkedin.com/in/jonssmall</a></p>
<p><i class="fa fa-laptop fa-lg fa-fw"></i> <a href="http://jonssmall.github.io/" target="_blank">jonssmall.github.io</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:jonssmall@gmail.com" target="_blank">jonssmall@gmail.com</a></p>